<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Notice</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
    </style>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../components/navbar.css" />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <!-- firebase CDN -->
    <script src="../../config/config.js"></script>
    <script src="../../service/logincheck.js" defer></script>
  </head>
  <body
    class="d-flex flex-column min-vh-100"
    style="
      font-family: Archivo, sans-serif;
      background-color: rgba(0, 0, 0, 0.945);
    "
  >
    <!---------------------------------- navbar ------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand ms-4 text-light" href="../../../index.html"
          ><img src="../../img/logo-white.png" alt="짐로고" width="100"
        /></a>
        <button
          class="navbar-toggler custom-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul
            class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid justify-content-center ms-4 mt-3"
            style="font-size: 1.2rem"
          >
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../aboutus/aboutus.html"
                >About Us</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../program/program.html"
                >Program</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../center/center.html"
                >Center</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../contact/contact.html"
                >Contact</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="./notice.html?page=1"
                >Notice</a
              >
            </li>
          </ul>
          <div class="d-flex mt-3 btn-group" style="width: 12rem">
            <a href="../../../login.html">
              <button
                type="button"
                class="btn btn-primary btn-sm me-1"
                id="login"
              >
                login
              </button>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!---------------------------------- navbar ------------------------------->
    <main class="col py-3">
          <div class="container-fluid">
            <div class="d-flex">
              <div class="col">
                <h2 class="text-light">공지사항</h2>
              </div>
              <!-- 제목검색 Start-->
              <div class="mt-1">
                <div class="d-flex">
                <input class="form-control me-2" type="search" placeholder="제목을 입력하세요" aria-label="Search" />
                  <button class="btn btn-outline-success" >Search</button>
                </div>
              </div>
              <!-- 제목검색 End -->
              </div>
            </div>
            <hr />
            <table class="table">
              <thead class="bg-dark">
                <tr>
                  <th scope="col" class="text-light text-center">번호</th>
                  <th scope="col" class="text-light text-center">제목</th>
                  <th scope="col" class="text-light text-center">작성자</th>
                  <th scope="col" class="text-light text-center">작성일</th>
                </tr>
              </thead>
              <tbody class="board-content"></tbody>
            </table>
            <section class="container d-flex mt-5 justify-content-center">
            <!------------------------------------ pagination Start ------------------------------------------>
            <div class="col-8 justify-content-end">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center ">
                <li class="page-item">
                  <a class="page-link pre me-1" href="#">Previous</a>
                </li>
                <div class="pagination justify-content-center" id="pagination">
                  <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                </div>
                <li class="page-item">
                  <a class="page-link next ms-1" href="#">Next</a>
                </li>
              </ul>
            </nav>
            </div>
            <!------------------------------------ pagination End ------------------------------------------> 
            </section>
          </div>
        </main>
        <!---------------------------------------- Main End ---------------------------------------->
      </div>
    </div>
    <!----------------------------------  Footer  ------------------------------->
    <footer class="footer mt-auto py-3">
      <div class="container d-md-flex flex-column align-items-center">
        <span class="text-muted" style="font-size: 0.1rem"
          >(주)D-GYM ㅣ 대표: 김민준 ㅣ 주소: 서울특별시 강남구 테헨란로 14길 6
          5층~7층 ㅣ 등록번호 123-12-123456 ㅣ info@dgym.co.kr ㅣ 전화번호
          02-123-1234</span
        ><span class="text-muted" style="font-size: 0.1rem"
          >ⓒ2022 Supplies.Inc. All rights reserved.</span
        >
      </div>
    </footer>
    <!--------------------------------- Footer End ------------------------------>
      <script>
      const db = firebase.firestore();
      // 페이징 처리   
      let params = new URL(document.location).searchParams;
      let page = params.get("page");
      let num = 0; // 페이지 순번 담음
      let numPerPage = 3; // 한페이지에 몇개씩 뿌릴건가
      // 로드 될 때 page 1에 해당하는 것만 불러와
      // page 2에 해당하는 것만 불러와라
      let startPage = page - ((page - 1) % numPerPage);
      let lastPage = 0;
      console.log(`시작페이지는 ${startPage}페이지 입니다`); // 시작페이지
      // Database에서 데이터 가져오기
      db.collection("board")
        .orderBy("작성일","desc")
        .get()
        .then((snapshot) => {
            let lastItemNum = snapshot.docs.length;
            console.log("총 데이터 건수는 " + lastItemNum + " 입니다");
            for( let i = page * numPerPage;i< page * numPerPage + numPerPage; i++){
              num = i - numPerPage;
              console.log(num);
              if(lastItemNum === i-numPerPage) break;
            const templete = `
                                        <tr>
                                          <th scope="row" class="text-center text-light">${++num}</th>
                                          <td class="text-center"><a class= "text-light" href="./detailNotice.html?id=${
                                            snapshot.docs[i-numPerPage].id
                                          }" style="text-decoration: none; color:black;" >
                                            ${snapshot.docs[i-numPerPage].data().제목}</a></td>
                                          <td class="text-center text-light">${snapshot.docs[i-numPerPage].data().작성자}</td>
                                          <td class="text-center text-light">${snapshot.docs[i-numPerPage].data().작성일}</td>
                                        </tr>
                    `;
            $(".board-content").append(templete); // 데이터가 저장된 만큼 찍힌다.
            };
          lastPage = Math.ceil(lastItemNum/numPerPage);
          console.log(`마지막 페이지는 ${lastPage}페이지 입니다`);
          // lastPageBar함수가 외부에 있으면 시점의 문제로 먼저 수행되어 lastPage가 0으로 찍힌다
          //(페이지 번호 처리)
          for (let i = 0; i < numPerPage; i++) {
            // startPage + i = 현재 페이지
            if(startPage + i <= lastPage){
            const page = `
                  <li class="page-item"><a class="page-link" href="?page=${
                    startPage + i
                  }">${startPage + i}</a></li>
                  `;
          $("#pagination").append(page);
          }}
          lastPageBar();
          });
          // 이전페이지 판별하는 함수
          if (startPage - 1 > 0) {
            $(".pre").attr("href", `?page=${startPage - 1}`);
          } else if (startPage - 1 <= 0) {
            $(".pre").on("click", () => {
              alert("이전페이지는 존재하지 않습니다❗");
            });
          }
          // 마지막 페이지 판별하는 함수
          function lastPageBar(){
          if (startPage + numPerPage <= lastPage) {
            // 다음 이동시 마지막 페이지 처리//
            // 현재 15페이지에 있더라도 전역변수 startPage는 12이므로 +3을 해줘야한다
            $(".next").attr("href", `?page=${startPage + numPerPage}`);
          } else if (startPage + numPerPage > lastPage) {
            $(".next").on("click", () => {
              alert("다음페이지는 존재하지 않습니다❗");
            });
          }
          }; 
    </script>
  </body>
</html>
