* {
  /* border: 1px solid red; */
}

/*-------------------- About article ----------------*/

/* About article two */
#section2 {
  color: rgb(204, 215, 224);
}

/* About article three */
.info {
  font: 25px bold;
  color: rgb(255, 255, 255);
}
/*--------------------- About aricle -----------------*/

/*-------------------------- 주의사항 --------------------*/
.pbox {
  color: rgb(255, 255, 255);
}
/*-------------------------- 주의사항 --------------------*/
