<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>관리자 페이지</title>

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- CSS only -->
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- JavaScript Bundle with Popper -->
    <!-- Firebase Connection -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyD_E3njzteRHKiYoc24ioUvfD4thpJlOgM",
        authDomain: "d-gym-demo.firebaseapp.com",
        databaseURL:
          "https://d-gym-demo-default-rtdb.asia-southeast1.firebasedatabase.app",
        projectId: "d-gym-demo",
        storageBucket: "d-gym-demo.appspot.com",
        messagingSenderId: "740962178337",
        appId: "1:740962178337:web:a7e0d4e2e2e9e9288a9a60",
      };
      firebase.initializeApp(firebaseConfig);
    </script>
    <!-- Firebase Connection -->

    <style>
      * {
        border: 1px solid red;
      }
    </style>
  </head>

  <body class="d-flex flex-column" style="font-family: Archivo, sans-serif">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <!---------------------------------------- Sidebar Start ---------------------------------------->
        <aside class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
          >
            <a
              href="/"
              class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
            >
              <span class="fs-5 d-none d-sm-inline text-light">Home</span>
            </a>
            <ul
              class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
              id="menu"
            >
              <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >Dashboard</span
                  >
                </a>
              </li>
              <li>
                <a href="#" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >매출조회</span
                  >
                </a>
              </li>
              <li>
                <a href="#" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >예약관리</span
                  ></a
                >
              </li>
              <li>
                <a href="#" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >회원관리</span
                  ></a
                >
              </li>
              <li>
                <a href="#" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >강사관리</span
                  >
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-people"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >게시판관리</span
                  >
                </a>
              </li>
            </ul>
            <hr />
            <div class="dropdown pb-4">
              <a
                href="#"
                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="https://odong2.github.io/Web/필라테스강사1.jpg"
                  alt="hugenerd"
                  width="30"
                  height="30"
                  class="rounded-circle"
                />
                <span class="d-none d-sm-inline mx-1">관리자</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">비밀번호 변경</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Log out</a></li>
              </ul>
            </div>
          </div>
        </aside>
        <!---------------------------------------- Sidebar End ---------------------------------------->
        <!---------------------------------------- Main Start ---------------------------------------->
        <main class="container col py-3 ms-5 p-5">
          <!--================ header Start ================-->
          <header class="pb-5">
            <h1><b>예약 관리</b></h1>
            <hr />
          </header>
          <!--================ header Start ================-->
          <!--================ article Start ===============-->
          <article>
            <table class="table table-hover">
              <thead class="table-danger">
                <tr class>
                  <th scope="col">N</th>
                  <th scope="col">이름</th>
                  <th scope="col">성별</th>
                  <th scope="col">연락처</th>
                  <th scope="col">등록날짜</th>
                  <th scope="col">예약날짜</th>
                  <th scope="col">프로그램</th>
                  <th scope="col">희망강사</th>
                </tr>
              </thead>
              <tbody class="enquire-article"></tbody>
            </table>
          </article>
          <!--================ article End ===============-->
        </main>
        <!---------------------------------------- Main End ---------------------------------------->
      </div>
    </div>
    <!---------------------------- FB데이터 연동 Start --------------------------->
    <script>
      /*============= 가져오기 Start ============*/
      const fs = firebase.firestore();
      let num = 0; //
      fs.collection("enquire")
        .orderBy("등록날짜", "asc") //오름차순 정렬
        .get()
        .then((snapshot) => {
          console.log(snapshot);
          snapshot.forEach((item) => {
            // doc -> item
            // console.log(item.data());
            const data = item.data(); // doc.data() -> data
            const template = `
                          <tr class = "align-middle table-info">
                            <th scope="row">${++num}</th>
                            
                            <th>${data.이름}</th>
                            <td>${data.성별}</td>
                            <td>${data.연락처}</td>
                            <td>${data.등록날짜}</td>
                            <td>${data.예약날짜}</td>
                            <td>${data.프로그램}</td>
                            <td>${data.희망강사}</td>
                            <td id="${item.id}" class="bg-white ">
                              <button class="del bg-warning">삭제하기</button></td>
                              </tr>
                              `;
            // <th>${data.userInfo}</th>
            $(".enquire-article").append(template); // tbody에 fireStore에서 불러온 값들을 붙여준다
          });
          /*============== 가져오기 End =============*/
          /*=============== 삭제 Start ==============*/
          const deletebtn = document.querySelectorAll(".del"); // 클래스명이 del인 버튼(207)을 상수에 저장
          $(document).ready(function () {
            deletebtn.forEach((deletebtn) => {
              // querySelectorAll을 이벤트리스너에서 사용하기 위해서는 반복문을 통해 모든요소에 추가시켜야 한다.
              // $(deletebtn).click(function (e) { // 사용시 : forEach와 맨아래 }); 삭제
              deletebtn.addEventListener("click", (e) => {
                // 버튼 클릭, 삭제
                e.stopPropagation(); // 이벤트가 발생한 상태에서 다른 이벤트나 움직임을 강제로 멈추는 기능
                let id = e.target.parentElement.getAttribute("id"); // 이벤트발생시 id가 가진 속성의 부모요소를 타게팅하여 변수에 저장
                fs.collection("enquire") // enquire문서에서, 위에서 담은 변수 id 삭제
                  .doc(id)
                  .delete()
                  .then(() => {
                    console.log("Document successfully deleted!");
                    location.reload(); // 삭제성공 -> 새로고침
                    // window.location.href = "./enquire_1-4f.html";
                  })
                  .catch((error) => {
                    console.error("Error removing document: ", error);
                  });
              });
            });
          });
          /*================ 삭제 End ===============*/
        });
    </script>
    <!----------------------------- FB데이터 연동 End ---------------------------->
  </body>
</html>
<!-- 삭제하기 구현성공 버전  -->
<!--
  22.08.06
  오늘은 addEventListener을 forEach와 분리해보고, reload를 처리해봅시다
  
  분리(?)  : querySelectorAll을 사용하려면 forEach나 for문 사용해야함. 
          ※ if 반복문 사용X - 코드 주석처리 해둠

  reload 처리 성공 : .then(()=>{ }) 에다가 넣음
-->
<!-- 
  22.08.09
  오늘은 조회기능을 넣어봅시다.
  
 -->
<!-- 
  확인순서 reservation 데이터등록 -> Firestore -> enquire_F.html 확인
 -->
