@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("※"), url("../fonts/Roboto-Regular.eot"),
    url("../fonts/Roboto-Regular.eot#iefix") format("embedded-opentype")
      url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.otf") format("opentype"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", "Noto Sans KR", "sans-serif";
  color: rgba(255, 255, 250, 0.7);
}

.mainImg1 {
  border-radius: 10px;
}

.info {
  line-height: 30px;
}

span {
  color: rgba(216, 216, 42, 0.882);
}
