@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("※"), url("../fonts/Roboto-Regular.eot"),
    url("../fonts/Roboto-Regular.eot#iefix") format("embedded-opentype")
      url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.otf") format("opentype"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
* {
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", "Noto Sans KR", "sans-serif";
  color: rgba(255, 255, 250, 0.7);
}

header {
  margin-top: 10rem;
  margin-bottom: 30rem;
}

header h1 {
  font-size: 9rem;
  font-family: "Roboto", "Noto Sans KR", "sans-serif";
  text-shadow: 3px 1px 1px gray;
}
header h1:nth-of-type(2) {
  margin-right: 3rem;
}

.kakaoMap {
  margin-top: 10rem;
}

.title {
  margin-bottom: 20rem;
}

.scroll-target {
  margin-bottom: 15rem;
}

.tracking-in-expand-fwd-bottom {
  -webkit-animation: tracking-in-expand-fwd-bottom 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd-bottom 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
