<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>관리자 페이지</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <!-- firebase CDN -->
    <script src="../config/config.js"></script>
  </head>
  <body class="d-flex flex-column" style="font-family: Archivo, sans-serif">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <!---------------------------------------- Sidebar Start ---------------------------------------->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
          >
            <a
              href="./adminHome.html"
              class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
            >
              <span class="fs-5 d-none d-sm-inline text-light">Home</span>
            </a>
            <ul
              class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
              id="menu"
            >
              <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >Dashboard</span
                  >
                </a>
              </li>
              <li>
                <a href="#" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >매출조회</span
                  >
                </a>
              </li>
              <li>
                <a href="#" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >예약관리</span
                  ></a
                >
              </li>
              <li>
                <a href="#" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >회원관리</span
                  ></a
                >
              </li>
              <li>
                <a href="#" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >강사관리</span
                  >
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-people"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >게시판관리</span
                  >
                </a>
              </li>
            </ul>
            <hr />
            <div class="dropdown pb-4">
              <a
                href="#"
                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="https://odong2.github.io/Web/필라테스강사1.jpg"
                  alt="hugenerd"
                  width="30"
                  height="30"
                  class="rounded-circle"
                />
                <span class="d-none d-sm-inline mx-1">관리자</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">비밀번호 변경</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Log out</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!---------------------------------------- Sidebar End ---------------------------------------->
        <!---------------------------------------- Main Start ---------------------------------------->
        <main class="col py-3">
          <div class="container-fluid">
            <div class="d-flex">
              <div class="col">
                <h2>공지사항</h2>
              </div>
              <!-- 제목검색 Start-->
              <div class="mt-1">
                <div class="d-flex">
                <input class="form-control me-2" type="search" placeholder="제목을 입력하세요" aria-label="Search" />
                  <button class="btn btn-outline-success" >Search</button>
                </div>
              </ㅇ>
              <!-- 제목검색 End -->
              </div>
            </div>
            <hr />
            <table class="table">
              <thead class="bg-dark">
                <tr>
                  <th scope="col" class="text-light text-center">번호</th>
                  <th scope="col" class="text-light text-center">제목</th>
                  <th scope="col" class="text-light text-center">작성자</th>
                  <th scope="col" class="text-light text-center">작성일</th>
                </tr>
              </thead>
              <tbody class="board-content"></tbody>
            </table>
            <section class="container d-flex mt-5">
            <!------------------------------------ pagination Start ------------------------------------------>
            <div class="col-8 justify-content-end">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center ">
                <li class="page-item">
                  <a class="page-link pre" href="#">Previous</a>
                </li>
                <div class="pagination justify-content-center" id="pagination">
                  <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                </div>
                <li class="page-item">
                  <a class="page-link next" href="#">Next</a>
                </li>
              </ul>
            </nav>
            </div>
            <!------------------------------------ pagination End ------------------------------------------> 
            <div class=" d-flex justify-content-end col-4">
              <button
                button
                type="button"
                class="btn btn-primary ms-4"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
                style="height: 2.3rem;"
              >
                글 등록하기
              </button>
              <!---------------------------------------- Modal---------------------------------------->
              <div
                class="modal fade"
                id="staticBackdrop"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                tabindex="-1"
                aria-labelledby="staticBackdropLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg" style="height: 80%">
                  <div class="modal-content" style="height: 80%">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">
                        글등록하기
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div>
                        <label for="title">제목: </label>
                        <input type="text" class="title" />
                      </div>
                      <div class="form-floating">
                        <textarea
                          class="form-control mt-3 content"
                          placeholder="내용을 입력하세요"
                          id="floatingTextarea2"
                          style="height: 300px"
                        ></textarea>
                        <label for="floatingTextarea2">Content</label>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        id="cancel"
                        data-bs-dismiss="modal"
                      >
                        취소
                      </button>
                      <button type="button" class="btn btn-primary" id="insert">
                        등록
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <!---------------------------------------- Modal End--------------------------------------->
            </section>
          </div>
        </main>
        <!---------------------------------------- Main End ---------------------------------------->
      </div>
    </div>
    <script>
      const db = firebase.firestore();
       // 페이징 처리   
      let params = new URL(document.location).searchParams;
      let page = params.get("page");
      let title_ = params.get("title"); // 사용자 전달 제목(검색)
      let title = "title"; // 기본값
      console.log(`현재 페이지는 ${page}페이지 입니다`);
      
      // 로드 될 때 page 1에 해당하는 것만 불러와
      // page 2에 해당하는 것만 불러와라
      let startPage = page - ((page - 1) % 3);
      let lastPage = 0;
      let lastItemNum = 0;
      console.log(`시작페이지는 ${startPage}페이지 입니다`); // 시작페이지

      // Database에서 데이터 가져오기
      let num = 1;
      db.collection("board")
        .orderBy("번호","asc")
        .get()
        .then((snapshot) => {
          let i = 1;
          snapshot.forEach((item) => {
            lastItemNum++;
            if(item.data().번호 >= (1+(page-1)*3) && item.data().번호 <= page*3){
            const templete = `
                                        <tr>
                                          <th scope="row" class="text-center">${item.data().번호}</th>
                                          <td class="text-center"><a href="./detailNotice.html?id=${
                                            item.id
                                          }" style="text-decoration: none; color:black;" >
                                            ${item.data().제목}</a></td>
                                          <td class="text-center">${
                                            item.data().작성자
                                          }</td>
                                          <td class="text-center">${
                                            item.data().작성일
                                          }</td>
                                        </tr>
                    `;
            $(".board-content").append(templete); // 데이터가 저장된 만큼 찍힌다.
            };
          });
          lastPage = Math.ceil(lastItemNum/3);
          console.log(`마지막 페이지는 ${lastPage}페이지 입니다`)// 이전페이지 처리
          // lastPageBar함수가 외부에 있으면 시점의 문제로 먼저 수행되어 lastPage가 0으로 찍힌다
          //(페이지 번호 처리)
          for (let i = 0; i < 3; i++) {
            // startPage + i = 현재 페이지
            if(startPage + i <= lastPage){
            const page = `
                  <li class="page-item"><a class="page-link" href="?page=${
                    startPage + i
                  }">${startPage + i}</a></li>
                  `;
          $("#pagination").append(page);
          }
          }
          lastPageBar();
          });
          // 이전페이지 판별하는 함수
          if (startPage - 1 > 0) {
            $(".pre").attr("href", `?page=${startPage - 1}`);
          } else if (startPage - 1 <= 0) {
            $(".pre").on("click", () => {
              alert("이전페이지는 존재하지 않습니다❗");
            });
          }

          // 마지막 페이지 판별하는 함수
          function lastPageBar(){
          if (startPage + 3 <= lastPage) {
            // 다음 이동시 마지막 페이지 처리//
            // 현재 15페이지에 있더라도 전역변수 startPage는 12이므로 +3을 해줘야한다
            $(".next").attr("href", `?page=${startPage + 3}`);
          } else if (startPage + 3 > lastPage) {
            $(".next").on("click", () => {
              alert("다음페이지는 존재하지 않습니다❗");
            });
          }
          }; 

      // 글등록하기 이벤트
      $("#insert").on("click", () => {
        let today = new Date();
        let year = String(today.getFullYear()).padStart(2, "0");
        let month = String(today.getMonth() + 1).padStart(2, "0");
        let date = String(today.getDate()).padStart(2, "0");
        const title = $(".title").val();
        const content = $(".content").val();
        if (title !== "" && content !== "") {
          console.log("등록 버튼 호출");
          db.collection("board")
            .add({
              번호: ++lastItemNum,
              제목: title,
              작성자: "관리자",
              작성일: `${year}-${month}-${date}`,
              내용: content,
            })
            .then((docRef) => {
              alert("글이 등록되었습니다");
              window.location = `./notice.html?page=1`;
            })
            .catch((error) => {
              console.error("Error adding document: ", error);
            });
        } else {
          alert("내용을 입력해 주세요");
        }
      });

      // 취소 이벤트(초기화)
      $("#cancel").on("click", () => {
        $(".title").val("");
        $(".content").val("");
      });
    </script>
  </body>
</html>
