<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>관리자 페이지</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../style/style.css"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <!-- firebase CDN -->
    <script src="../config/config.js"></script>
  </head>
  <body class="d-flex flex-column" style="font-family: Archivo, sans-serif">
    <div class="container-fluid">
      <div class="row flex-nowrap">
            <!---------------------------------------수정된 Sidebar Start ---------------------------------------->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
          >
            <a
              href="./adminHome.html"
              class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
            >
              <span class="fs-5 d-none d-sm-inline text-light">Home</span>
            </a>
            <ul
              class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
              id="menu"
            >
              <li class="nav-item">
                <a href="./adminHome.html" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >Dashboard</span
                  >
                </a>
              </li>
              <li>
                <a href="./sales.html" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >매출조회</span
                  >
                </a>
              </li>
              <li>
                <a href="./enquire.html" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >예약관리</span
                  ></a
                >
              </li>
              <li>
                <a
                  href="#submenu3"
                  data-bs-toggle="collapse"
                  class="nav-link px-0 align-middle"
                >
                  <i class="fs-4 bi-grid"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >회원관리</span
                  >
                </a>
                <ul
                  class="collapse nav flex-column ms-1"
                  id="submenu3"
                  data-bs-parent="#menu"
                >
                  <li class="w-100">
                    <a href="./memRegister.html" class="nav-link px-0">
                      <h6 class="d-none d-sm-inline">
                        <small class="text-muted"
                          >&nbsp;&nbsp;- 신규 회원등록</small
                        >
                      </h6>
                    </a>
                  </li>
                  <li>
                    <a href="./memSearch.html" class="nav-link px-0">
                      <h6 class="d-none d-sm-inline">
                        <small class="text-muted">&nbsp;&nbsp;- 회원조회</small>
                      </h6>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="./instructor.html" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >강사관리</span
                  >
                </a>
              </li>
              <li>
                <a
                  href="./notice.html?page=1"
                  class="nav-link px-0 align-middle"
                >
                  <i class="fs-4 bi-people"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >게시판관리</span
                  >
                </a>
              </li>
            </ul>
            <hr />
            <div class="dropdown pb-4 fixed-bottom ms-3">
              <a
                href="#"
                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="https://odong2.github.io/Web/필라테스강사1.jpg"
                  alt="hugenerd"
                  width="30"
                  height="30"
                  class="rounded-circle"
                />
                <span class="d-none d-sm-inline mx-1 ms-2">관리자</span>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-dark text-small shadow ms-4 mb-2"
              >
                <li>
                  <a class="dropdown-item" href="#" id="logout">Log out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!---------------------------------------- 수정된 Sidebar End ---------------------------------------->
        <!---------------------------------------- Main Start ---------------------------------------->
        <main class="col py-3">
          <div class="container-fluid">
            <div class="d-flex">
              <div class="col">
                <h2>공지사항</h2>
              </div>
              <!-- 제목검색 Start-->
              <div class="mt-1">
                <div class="d-flex">
                <input class="form-control me-2" type="search" placeholder="제목을 입력하세요" aria-label="Search" />
                  <button class="btn btn-outline-success" >Search</button>
                </div>
              </ㅇ>
              <!-- 제목검색 End -->
              </div>
            </div>
            <hr />
            <table class="table">
              <thead class="bg-dark">
                <tr>
                  <th scope="col" class="text-light text-center">번호</th>
                  <th scope="col" class="text-light text-center">제목</th>
                  <th scope="col" class="text-light text-center">작성자</th>
                  <th scope="col" class="text-light text-center">작성일</th>
                </tr>
              </thead>
              <tbody class="board-content"></tbody>
            </table>
            <section class="container d-flex mt-5">
            <!------------------------------------ pagination Start ------------------------------------------>
            <div class="col-8 justify-content-end">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center ">
                <li class="page-item">
                  <a class="page-link pre" href="#">Previous</a>
                </li>
                <div class="pagination justify-content-center" id="pagination">
                </div>
                <li class="page-item">
                  <a class="page-link next" href="#">Next</a>
                </li>
              </ul>
            </nav>
            </div>
            <!------------------------------------ pagination End ------------------------------------------> 
            <div class=" d-flex justify-content-end col-4">
              <button
                button
                type="button"
                class="btn btn-primary ms-4"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
                style="height: 2.3rem;"
              >
                글 등록하기
              </button>
              </div>
              <!---------------------------------------- Modal---------------------------------------->
              <div
                class="modal fade"
                id="staticBackdrop"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                tabindex="-1"
                aria-labelledby="staticBackdropLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg" style="height: 80%">
                  <div class="modal-content" style="height: 80%">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">
                        글등록하기
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div>
                        <label for="title">제목: </label>
                        <input type="text" class="title" />
                      </div>
                      <div class="form-floating">
                        <textarea
                          class="form-control mt-3 content"
                          placeholder="내용을 입력하세요"
                          id="floatingTextarea2"
                          style="height: 300px"
                        ></textarea>
                        <label for="floatingTextarea2">Content</label>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        id="cancel"
                        data-bs-dismiss="modal"
                      >
                        취소
                      </button>
                      <button type="button" class="btn btn-primary" id="insert">
                        등록
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!---------------------------------------- Modal End--------------------------------------->
            </section>
          </div>
        </main>
        <!---------------------------------------- Main End ---------------------------------------->
      </div>
    </div>
    <script src="../routes/notice.js"></script>
  </body>
</html>
