<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>관리자 페이지</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <script>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="../config/config.js"></script>
  </head>

  <body class="d-flex flex-column" style="font-family: Archivo, sans-serif">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <!---------------------------------------수정된 Sidebar Start ---------------------------------------->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
          >
            <a
              href="./adminHome.html"
              class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
            >
              <span class="fs-5 d-none d-sm-inline text-light">Home</span>
            </a>
            <ul
              class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
              id="menu"
            >
              <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >Dashboard</span
                  >
                </a>
              </li>
              <li>
                <a href="./sales.html" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >매출조회</span
                  >
                </a>
              </li>
              <li>
                <a href="./enquire.html" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >예약관리</span
                  ></a
                >
              </li>
              <li>
                <a
                  href="#submenu3"
                  data-bs-toggle="collapse"
                  class="nav-link px-0 align-middle"
                >
                  <i class="fs-4 bi-grid"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >회원관리</span
                  >
                </a>
                <ul
                  class="collapse nav flex-column ms-1"
                  id="submenu3"
                  data-bs-parent="#menu"
                >
                  <li class="w-100">
                    <a href="./memRegister.html" class="nav-link px-0">
                      <h6 class="d-none d-sm-inline">
                        <small class="text-muted"
                          >&nbsp;&nbsp;- 신규 회원등록</small
                        >
                      </h6>
                    </a>
                  </li>
                  <li>
                    <a href="./memSearch.html" class="nav-link px-0">
                      <h6 class="d-none d-sm-inline">
                        <small class="text-muted">&nbsp;&nbsp;- 회원조회</small>
                      </h6>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="./instructor.html" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >강사관리</span
                  >
                </a>
              </li>
              <li>
                <a
                  href="./notice.html?page=1"
                  class="nav-link px-0 align-middle"
                >
                  <i class="fs-4 bi-people"></i>
                  <span class="ms-1 d-none d-sm-inline text-light"
                    >게시판관리</span
                  >
                </a>
              </li>
            </ul>
            <hr />
            <div class="dropdown pb-4 fixed-bottom ms-3">
              <a
                href="#"
                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="https://odong2.github.io/Web/필라테스강사1.jpg"
                  alt="hugenerd"
                  width="30"
                  height="30"
                  class="rounded-circle"
                />
                <span class="d-none d-sm-inline mx-1 ms-2">관리자</span>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-dark text-small shadow ms-4 mb-2"
              >
                <li>
                  <a class="dropdown-item" href="#" id="logout">Log out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!---------------------------------------- 수정된 Sidebar End ---------------------------------------->
        <!---------------------------------------- Main Start ---------------------------------------->
        <main class="container col py-3 ms-5 p-3">
          <!------------------ header Start ------------------>
          <header class="pb-2 ">
            <h1><b>매출관리</b></h1>
            <hr />
          </header>
          <!-------------------- header End ------------------->
          <!-- ----------------------------------기간선택, 조회 버튼 처리 시작-------------------------- -->
          <div class="container select button ">
            <select id="period" class="form-select mt-1" aria-label="dateselect">
              <option disabled selected>기간조회</option>
              <option value="3">3개월</option>
              <option value="6">6개월</option>
              <option value="12">1년</option>
            </select>
            <button id="selectBtn" type="button" class="btn btn-primary mt-3">조회</button>
          </div>
          
          <!-- --------------------------------기간선택, 조회 버튼 처리 꿑----------------------------- -->
          <!-- ------------------------------------매출조회표 시작------------------------------------- -->
          <div class="container salestable mt-2">
            <table class="table  table-hover text-center table-bordered mt-3 mb-5" id="totalsalestb">
              <thead class="table-dark">
                <tr>
                  <th scope="col">상품명</th>
                  <th scope="col">매출</th>
                  <th scope="col">현금결제</th>
                  <th scope="col">카드결제</th>
                </tr>
              </thead>
              <tr>
                <td>PT</td>
                <td>PT매출액</td>
                <td>PT현금결제건수</td>
                <td>PT스카드결제건수</td>
              </tr>
              <tr>
                <td>헬스</td>
                <td>헬스매출액</td>
                <td>헬스현금결제건수</td>
                <td>헬스카드결제건수</td>
              </tr>
              <tr>
                <td>필라테스</td>
                <td>필라테스매출액</td>
                <td>필라테스현금결제건수</td>
                <td>필라테스카드결제건수</td>
              </tr>
              <tr>
                <td>크로스핏</td>
                <td>크로스핏매출액</td>
                <td>크로스핏현금결제건수</td>
                <td>크로스핏카드결제건수</td>
              </tr>
              <tbody class="totalsalestb"></tbody>
            </table>
          </div>
          <wrap class="d-flex">
            <div class="" id="chartContainer">
              <canvas id="myChart"  width="500" height="500"></canvas>    <!-- chart size 동적처리 ? -->
            </div>
            <!-- -----------------강사별 매출 그래프 시작----------------------- -->
            <div class="d-flex justify-content-center" id="chartContainer">
              <canvas id="myChart2"  width="500" height="500"></canvas>    <!-- chart size 동적처리 ? -->
            </div>
            <!-- -----------------강사별 매출 그래프 끝----------------------- -->
          </wrap>
        </main>
        <!---------------------------------------- Main End ---------------------------------------->
      </div>
    </div>
    <script src="../routes/sales.js"></script>;
  </body>
</html>
