<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About us</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
    </style>
    <!-- CSS only -->
    <link rel="stylesheet" href="../../style/aboutus/aboutus.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../components/navbar.css" />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <!-- firebase CDN -->
    <script src="../../config/config.js"></script>
    <script src="../../service/logincheck.js" defer></script>
  <body
    class="d-flex flex-column min-vh-100"
    style="
      font-family: Archivo, sans-serif;
      background-color: rgba(0, 0, 0, 0.945);
    "
  >
    <script>
      AOS.init();
    </script>
    <!---------------------------------- navbar ------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand ms-4 text-light" href="../../../index.html"
          ><img src="../../img/logo-white.png " alt="짐로고" width="100"
        /></a>
        <button
          class="navbar-toggler custom-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul
            class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid justify-content-center ms-4 mt-3"
            style="font-size: 1.2rem"
          >
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="./aboutus.html"
                >About Us</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../program/program.html">Program</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../center/center.html">Center</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../center/center.html">Contact</a>
            </li>
            <li class="nav-item me-5">
              <a
                class="nav-link text-light"
                href="../notice/notice.html?page=1"
                >Notice</a
              >
            </li>
          </ul>
          <div class="d-flex mt-3 btn-group" style="width: 12rem">
            <a href="../member/login.html">
              <button
                type="button"
                class="btn btn-primary btn-sm me-1"
                id="login"
              >
                login
              </button>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!---------------------------------- navbar ------------------------------->
    <!---------------------------------- Header ------------------------------->
    <header class="container-fluid">
        <div class="row gx-5 ">
            <div class="my-5">
                <h1 class="text-warning tracking-in-expand-fwd-bottom" >
                  Amazing Experience
                </h1>
              <h1 class="text-warning text-end tracking-in-expand-fwd-bottom" >
                With D-gym
              </h1>
            </div>
        </div>
    </header>
    <!---------------------------------- Header End------------------------------->
    <!---------------------------------- Main Start------------------------------->
    <main>
      <section class="d-flex justify-content-center title">
        <div data-aos="fade-right">
          <h2>
            짐박스에서만 누릴 수 있는
          </h2>
          <h2 class="ms-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;특별한 경험</h2>
        </div>
      </section>
          <!-- About section one-->
            <section class="py-5 scroll-target">
                <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 subject-img"><img class="img-fluid rounded mb-5 mb-lg-0" src="../../img/center.jpg" alt="..." /></div>
                        <div class="col-lg-6 subject-content">
                            <h2 class="fw-bolder">최고의 시설</h2>
                            <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5 scroll-target" >
                <div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"   class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="../../img/강사.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">체계적 시스템</h2>
                            <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section three-->
            <section class="py-5 scroll-target" >
                <div data-aos="fade-right"  data-aos-offset="300" data-aos-easing="ease-in-sine" class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="../../img/전문강사.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">전문강사</h2>
                            <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
                        </div>
                    </div>
                </div>
            </section>
      
      <section class="kakaoMap container-fluid justify-content-center">
        <div class="container">
          <h2 class="map-title text-center">오시는길</h2>
        </div>
        <div
          id="map"
          class="container"
          style="width: 60rem; height: 30rem"
        ></div>
        <div class="container d-flex justify-content-evenly mt-5 mb-5">
          <div>
            <h3>대중교통🚇</h3><hr>
            <p>2호선 역삼역 3본출구 도보 3분</p>
            <p><strong>버스:&nbsp;</strong>5500번 5501번 5502번 5503번</p> 
          </div>
          <div>
            <h3>운영시간⏰</h3><hr>
            <p>공휴일을 제외한 24시간 오픈</p>
          </div>
          <div>
            <h3>주차장🚕</h3><hr>
            <p>3시간 무료</p>
          </div>
        </div>
      </section>
    </main>
    <!------------------------------------- Main END----------------------------------->
    <!----------------------------------  Footer Start  ------------------------------->
    <footer class="footer mt-auto py-3">
      <div class="container d-md-flex flex-column align-items-center">
        <span class="text-muted" style="font-size: 0.1rem"
          >(주)D-GYM ㅣ 대표: 김민준 ㅣ 주소: 서울특별시 강남구 테헨란로 14길 6
          5층~7층 ㅣ 등록번호 123-12-123456 ㅣ info@dgym.co.kr ㅣ 전화번호
          02-123-1234</span
        ><span class="text-muted" style="font-size: 0.1rem"
          >ⓒ2022 Supplies.Inc. All rights reserved.</span
        >
      </div>
    </footer>
    <!------------------------------------ Footer End ---------------------------------->
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=deac87efce2c95532950b8ccd2ba3d60"
    ></script>
    <script>
      var container = document.getElementById("map");
      var options = {
        center: new kakao.maps.LatLng(37.499011, 127.032819),
        level: 3,
      };
      var map = new kakao.maps.Map(container, options);
      var mapContainer = document.getElementById("map"), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(37.499011, 127.032819), // 지도의 중심좌표
          level: 3, // 지도의 확대 레벨
        };
      var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
      var markerPosition = new kakao.maps.LatLng(37.499011, 127.032819);
      var marker = new kakao.maps.Marker({
        position: markerPosition,
      });
      marker.setMap(map);
      var mapContainer = document.getElementById("map"), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(37.499011, 127.032819), // 지도의 중심좌표
          level: 3, // 지도의 확대 레벨
        };
      var mapTypeControl = new kakao.maps.MapTypeControl();

      map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

      var zoomControl = new kakao.maps.ZoomControl();
      map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    </script>
  </body>
</html>
