<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome to DGYM-HOME</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
    </style>
    <!-- CSS only -->
    <link rel="stylesheet" href="../../style/member/register.css" />
    <link rel="stylesheet" href="../../components/navbar.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <!-- firebase CDN -->
    <script src="../..//config/config.js"></script>
    <script src="../../routes/register.js" defer></script>
  </head>
  <body
    class="d-flex flex-column min-vh-100"
    style="
      font-family: Archivo, sans-serif;
      background-color: rgba(0, 0, 0, 0.945);
    "
  >
    <!---------------------------------- navbar ------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand ms-4 text-light" href="../../../index.html"
          ><img src="../..//img/logo-white.png " alt="짐로고" width="100"
        /></a>
        <button
          class="navbar-toggler custom-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul
            class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid justify-content-center ms-4 mt-3"
            style="font-size: 1.2rem"
          >
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../aboutus/aboutus.html"
                >About Us</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../program/program.html"
                >Program</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../center/center.html"
                >Center</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../contact/contact.html"
                >Contact</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../notice.html?page=1"
                >Notice</a
              >
            </li>
          </ul>
          <div class="d-flex mt-3 btn-group" style="width: 12rem">
            <a href="./login.html">
              <button
                type="button"
                class="btn btn-primary btn-sm me-1"
                id="login"
              >
                login
              </button>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!---------------------------------- navbar ------------------------------->
    <!---------------------------------- 회원가입 시작 ------------------------------->
    <div class="container mt-3 col-5">
      <div class="form-group mb-3">
        <label class="text-secondary">Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="name"
          id="mem_name"
        />
      </div>
      <div class="form-group mb-3">
        <label class="text-secondary">Phone-Number</label>
        <input type="text" class="form-control" placeholder="hp" id="mem_hp" />
      </div>
      <div class="form-group mb-3">
        <label class="text-secondary">E-mail</label>
        <div class="d-flex col-12">
          <input
            type="text"
            class="form-control mb-2 col-8"
            placeholder="email"
            id="mem_email"
          />
          <button
            type="button"
            class="btn btn-danger col-3 ms-2"
            id="emailCheckBtn"
          >
            중복확인
          </button>
        </div>
      </div>
      <div class="form-group mb-3">
        <label class="text-secondary">Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="pw"
          id="mem_pw"
        />
      </div>
      <div class="form-group mb-3">
        <label class="text-secondary">Password Check</label>
        <input
          type="password"
          class="form-control"
          placeholder="pw"
          id="mem_pwCheck"
        />
      </div>
      <button
        type="button"
        class="btn btn-primary col-12"
        id="register"
        disabled
      >
        가입하기
      </button>
    </div>
  </body>
</html>
