<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome to DGYM-HOME</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
    </style>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../components/navbar.css" />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <!-- firebase CDN -->
    <script src="../../config/config.js"></script>
    <script src="../../service/logincheck.js" defer></script>
  <body
    class="d-flex flex-column min-vh-100"
    style="
      font-family: Archivo, sans-serif;
      background-color: rgba(0, 0, 0, 0.945);
    "
  >
  <!---------------------------------- navbar  Start------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand ms-4 text-light" href="../../../index.html"
          ><img src="../../img/logo-white.png" alt="짐로고" width="100"
        /></a>
        <button
          class="navbar-toggler custom-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul
            class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid justify-content-center ms-4 mt-3"
            style="font-size: 1.2rem"
          >
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../aboutus/aboutus.html"
                >About Us</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../program/program.html"
                >Program</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="./center.html"
                >Center</a
              >
            </li>
            <li class="nav-item me-5">
              <a class="nav-link text-light" href="../contact/contact.html"
                >Contact</a
              >
            </li>
              <li class="nav-item me-5">
              <a
                class="nav-link text-light"
                href="../notice/notice.html?page=1"
                >Notice</a
              >
            </li>
          </ul>
          <div class="d-flex mt-3 btn-group" style="width: 12rem">
            <a href="../member/login.html">
              <button
                type="button"
                class="btn btn-primary btn-sm me-1"
                id="login"
              >
                login
              </button>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!---------------------------------- navbar ------------------------------->
    <div class="container-fluid d-flex flex-row">
      <!---------------------------------- Sidebar Start------------------------------->
      <aside
        class="navbar navbar-expand-md navbar-light d-flex flex-column mt-5 ms-3"
      >
        <ul class="navbar-nav flex-column text-center">
          <li class="mb-2">
            <a
              class="nav-link text-info"
              aria-current="page"
              href="./center.html"
              >Center</a
            >
          </li>
          <li class="mb-2">
            <a class="nav-link text-light" href="./healthcenter.html">Health</a>
          </li>
          <li class="mb-2">
            <a class="nav-link text-light" href="./crossfitcenter.html"
              >Crossfit</a
            >
          </li>
          <li class="mb-2">
            <a class="nav-link text-light" href="./pilatescenter.html"
              >Pilates</a
            >
          </li>
        </ul>
      </aside>
      <!---------------------------------- Sidebar End------------------------------->
      <!---------------------------------- Main Start------------------------------->
      <main class="ps-0 ps-md-5 flex-grow-1">
        <!---------------------------------- Banner Start------------------------------->
        <section
          id="template-mo-zay-hero-carousel"
          class="carousel slide"
          data-bs-ride="carousel"
          style="height: 500px"
        >
          <!--높이값 지정해 줘야 화면 흔들림 없음(추후 css파일에)-->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row p-5">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                    <img
                      class="img-fluid mb-2"
                      src="../../img/healthcenter-1.jpg"
                      alt="헬스센터이미지"
                    />
                  </div>
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                    <div class="text-align-left align-self-center">
                      <h1 class="h1 text-success text-light mt-3">
                        <b>1. </b> Health Center
                      </h1>
                      <h3 class="h2 text-light">
                        Only in <span class="text-info">D-GYM</span>
                      </h3>
                      <p class="text-light">
                        D-GYM 헬스존에서는 제일 최고급 헬스 기구인 Hammer
                        strength를 도입하였습니다. 480평 규모의 넓고 쾌적한
                        DGYM에서 운동과 오직
                        <span class="text-info">자신</span>에게만 집중하는
                        시간을 가져보세요!
                        <a
                          rel="health"
                          class="text-success"
                          href="./healthcenter.html"
                          target="_blank"
                          >헬스장 둘러보기</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row p-5">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                    <img
                      class="img-fluid mb-2"
                      src="../../img/crossfitcenter-1.jpg"
                      alt="크로스핏센터이미지"
                    />
                  </div>
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                    <div class="text-align-left">
                      <h1 class="h1 text-success text-light mt-3">
                        <b>2. </b>Crossfit Center
                      </h1>
                      <h3 class="h2 text-light">
                        Only in <span class="text-info">D-GYM</span>
                      </h3>
                      <p class="text-light">
                        저희 D-GYM은 크로스핏 정식지부 등록이 된 박스입니다.
                        또한 D-GYM에서는 크로스핏
                        <span class="text-info">1일체험권</span>을 무료로
                        증정해드립니다. 체계적인 코치님들과 놀라운 경험을
                        이뤄내보세요!
                        <a
                          rel="crossfit"
                          class="text-success"
                          href="./crossfitcenter.html"
                          target="_blank"
                          >크로스핏 둘러보기</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row p-5">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                    <img
                      class="img-fluid"
                      src="../../img/pilatescenter-1.jpg"
                      alt=""
                    />
                  </div>
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                    <div class="text-align-left">
                      <h1 class="h1 text-success text-light mt-3">
                        <b>3. </b>Pilates Center
                      </h1>
                      <h3 class="h2 text-light">
                        Only in <span class="text-info">D-GYM</span>
                      </h3>
                      <p class="text-light">
                        D-GYM에서는 헬스, 크로스핏뿐만 아니라 몸의 아름다운
                        균형을 유지하기위한 필라테스 프로그램을 제공합니다.
                        프라이빗 1:1 레슨부터 그룹레슨까지 다양한 프로그램이
                        준비되어 있습니다.
                        <a
                          rel="pilates"
                          class="text-success"
                          href="./pilatescenter.html"
                          target="_blank"
                          >필라테스 둘러보기</a
                        >
                      </p>
                    </div>
                  </div>
                  <a
                    class="carousel-control-prev text-decoration-none w-auto ps-3"
                    href="#template-mo-zay-hero-carousel"
                    role="button"
                    data-bs-slide="prev"
                  >
                    <i class="fas fa-chevron-left"></i>
                  </a>
                  <a
                    class="carousel-control-next text-decoration-none w-auto pe-3"
                    href="#template-mo-zay-hero-carousel"
                    role="button"
                    data-bs-slide="next"
                  >
                    <i class="fas fa-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li
              data-bs-target="#template-mo-zay-hero-carousel"
              data-bs-slide-to="0"
              class="active"
            ></li>
            <li
              data-bs-target="#template-mo-zay-hero-carousel"
              data-bs-slide-to="1"
              class="active"
            ></li>
            <li
              data-bs-target="#template-mo-zay-hero-carousel"
              data-bs-slide-to="2"
              class="active"
            ></li>
          </ol>
        </section>
        <!---------------------------------- Banner End------------------------------->
        <!------------------------------- 아이콘 배너 Start---------------------------->
        <section class="container">
          <div class="mx-auto col-sm-10 col-md-8 col-lg-10 order-lg-last p-5">
            <img class="img-fluid" src="../../img/icontest.png" alt="" />
          </div>
        </section>
        <!------------------------------- 아이콘 배너 End---------------------------->
        <!----------------------------------- Main End-------------------------------->
      </main>
    </div>
    <!----------------------------------  Footer  ------------------------------->
    <footer class="footer mt-auto py-3">
      <div class="container d-md-flex flex-column align-items-center">
        <span class="text-muted" style="font-size: 0.1rem"
          >(주)D-GYM ㅣ 대표: 김민준 ㅣ 주소: 서울특별시 강남구 테헤란로 14길 6
          5층~7층 ㅣ 등록번호 123-12-123456 ㅣ info@dgym.co.kr ㅣ 전화번호
          02-123-1234</span
        ><span class="text-muted" style="font-size: 0.1rem"
          >ⓒ2022 Supplies.Inc. All rights reserved.</span
        >
      </div>
    </footer>
    <!--------------------------------- Footer End ------------------------------>
  </body>
</html>
